html {
  scroll-behavior: smooth;
}

.top-container {
  padding-top: 70px;
  background-color: #565656;
  margin: 0;
  position: relative;
}

.middle-container {
  background-color: #7B7B7B;
  position: relative;
}

.bottom-container {
  background-color: #666666;
}

.heading {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 65px;
  color: #D8D8D8;
  text-align: justify;
}

.heading-two {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 40px;
  color: #D8D8D8;
  text-align: justify;
}

.about {
  padding-left: 35px;
  margin-right: 10px;
  text-align: left;
  font-family: sans-serif;
  font-size: 21px;
  color: #D8D8D8
}

.about-two {
  padding-left: 35px;
  margin-right: 10px;
  text-align: left;
  font-family: sans-serif;
  font-size: 21px;
  color: #D8D8D8
}

.covid-graph {
  float: right;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 5px;
  right: 300px;
}

.ppt {
  float: right;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 160px;
}

.lnk {
  color: #D8D8D8;
  text-decoration: none;
}

.lnk:hover {
  color: #EAF6F6;
  text-decoration: none;
}

.kv {
  float: left;
  margin: 30px;
}

.an {
  width: 50%;
  float: left;
}

.vk {
  float: right;
}

.db1 {
  background-color: #7B7B7B;

}

.tableauDB1 {
  margin-left: 160px;
}

.db2 {
  background-color: #7B7B7B;
}

.tableauDB2 {
  margin-left: 160px;
}

hr {
  border: dotted #D8D8D8 10px;
  border-bottom: none;
  width: 15%;
  margin: 50px auto;
}

.infr {
  padding-left: 35px;
  margin-right: 10px;
  text-align: left;
  font-family: sans-serif;
  font-size: 23px;
  color: #D8D8D8
}

.team{
  width: 60%;
  margin: 20px auto 100px auto;
  overflow: hidden;
}

.kv{
  float: left;
  margin-top: 10px;
  margin-right: 30px;
}

.kv-social-1 {
  filter: invert(1);
  margin-left: 15px;
  margin-right: 20px;
}

.kv-social-2 {
  filter: invert(1);
  margin-right: 20px;
}

.kv-social-3 {
  filter: invert(1);
}

.ad{
  float: right;
  margin-left: 30px;
}

.ad-social-1 {
  filter: invert(1);
  margin-left: 60px;
  margin-right: 20px;
}

.ad-social-2 {
  filter: invert(1);
  margin-right: 20px;
}

.ad-social-3 {
  filter: invert(1);
}

.vk{
  float: left;
  margin-right: 30px;
}

.vk-social-1 {
  filter: invert(1);
  margin-left: 195px;
  margin-right: 20px;
}

.vk-social-2 {
  filter: invert(1);
  margin-right: 20px;
}

.vk-social-3 {
  filter: invert(1);
}

.lin_reg {
  background-color: #7B7B7B;
  padding-left: 35px;
  text-align: left;
  font-family: sans-serif;
  font-size: 25px;
  color: #D8D8D8;
}

.heading-three {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  color: #D8D8D8;
  text-align: justify;
}

.lin-reg-images {
  margin: 0 auto;
  display: block;
}

.sent-ana {
  background-color: #7B7B7B;
  padding-left: 35px;
  text-align: left;
  font-family: sans-serif;
  font-size: 25px;
  color: #D8D8D8;
}

.sent-ana-images {
  margin: 0 auto;
  display: block;
}
